@tailwind base;
@tailwind components;
@tailwind utilities;

.try {
  background-color: #32467a;
}

/* MARGINS DEBUGUER */
/* * {
  box-shadow: 0 0 0 3px red;
} */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html, body {
  width: 100vw;
  min-height: 100vh;
}



button:focus {
  outline: 0
}

/** LOADER  */
.loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: #090f18;
  z-index: 1000;
  opacity: 1;
}

polygon {
  opacity: 0;
  animation: logoAppears 2s ease-in-out forwards;
}

#loaderLogo path:nth-child(1) {
  stroke-dasharray: 1400px;
  stroke-dashoffset: 1400px;
  animation: logoAnimation 2s ease-in-out forwards;
  opacity: 0;
}

#loaderLogo path:nth-child(2) {
  stroke-dasharray: 1400px;
  stroke-dashoffset: 1400px;
  animation: logoAnimation 2s ease-in-out forwards;
  opacity: 0;
}

#loaderLogo path:nth-child(3) {
  stroke-dasharray: 1400px;
  stroke-dashoffset: 1400px;
  animation: logoAnimation 2s ease-in-out forwards;
  opacity: 0;
}

@keyframes logoAnimation {
  to {
    stroke-dashoffset: 0;
    opacity: 1
  }
}

@keyframes logoAppears {
  to {
    opacity: 1;
  }
}

/**HEADER  */
header {
  border-bottom: 1px solid hsla(0,0%,91.4%,.4);
}

/* .header-brand,
.header-subBrand {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} */

.header .lastName .header-brand span{
  color: black;
}

/**HEADROOM  */
.headroom {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: transparent;
}

.headroom--unfixed {
  position: relative;
  transform: translateY(0);
  transition: transform 200ms ease-in-out;
}

.headroom--scrolled {
  transition: transform 200ms ease-in-out;
}

.headroom--unpinned {
  position: fixed;
  transform: translateY(-100%);
}

.headroom--pinned.headroom--scrolled .navlink,
.headroom--pinned.headroom--scrolled .navlink-contact,
.headroom--pinned.headroom--scrolled .header-brand {
  color: black;
}

.headroom--pinned.headroom--scrolled .navlink:hover {
  color: #4B68AF;
}

.headroom--pinned {
  position: fixed;
  transform: translateY(0%);
}

.active {
  color: rgb(96 137 195)
}

.homeHeader .header-brand,
.homeHeader .navlink,
.homeHeader .navlink-contact {
  color: white;
}

.homeHeader .hamBox span {
  background: #FFF;
}

.headroom.headroom--pinned {
  background-color: #FFF;
  color: black;
}

.headroom--pinned.headroom--scrolled .hamBox span {
  background: black;
}

.headroom--pinned.headroom--scrolled.nav-overlay.mobileActive .hamBox span {
  background: #FFF;
}

/** Headroom Header */
.headroom-unpinned {
  position: fixed;
  background-color: white;
}

/** Liens NavBar */
a,
button,
li {
  position: relative;
}

a::after,
button::after {
  content: "";
  position: absolute;
  top: -1rem;
  bottom: -1rem;
  left: -1rem;
  right: -1rem;
}

.navlink {
  position: relative;
}

.navlink::before {
  content: "";
  position: absolute;
  background: #4B68AF;
  width: 100%;
  height: 1px;
  bottom: -5px;
  transform-origin: 100% 0;
  transform: scaleX(0);
  transition: transform 0.4s;
}

.navlink:hover::before {
  transform-origin: 0 0;
  transform: scaleX(1);
}

/** Burger Button */
.menu-toggle {
  cursor: pointer;
}

.hamBox {
  position: relative;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  transition: 0.3s ease;
  padding: 1em;
}

.lineTop,
.lineBottom {
  margin: 0 auto;
  position: absolute;
  display: block;
  width: 24px;
  height: 2px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 1);
  left: 0;
  right: 0;
  transform: rotate(0deg);
  transition: all 0.4s;
}

.lineTop {
  top: 1.7rem;
}

.lineBottom {
  bottom: 1.7rem;
}

.lineTop.spin {
  top: 2rem;
  transform: rotate(-45deg);
  background: #FFF;
}

.lineBottom.spin {
  bottom: 1.85em;
  transform: rotate(45deg);
  background: #FFF;
}

/** PROGRESS BAR  */
.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: #fe0222;
  transform-origin: 0%;
  z-index: 1000;
}

/** OVERLAY MOBILE */
.nav-overlay {
  position: fixed;
  background: rgba(34, 34, 34, 1);
  z-index: -2;
  opacity: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding: 4em;
  transition: all .8s cubic-bezier(0.16, 1, 0.3, 1);
}

.nav-overlay.mobileActive {
  opacity: 1;
  display: flex;
  justify-content: center;
}

nav.mobileActive .lastName .header-brand {
  color: white;
}

nav.mobileActive .menu-toggle .hamBox span {
  background: white;
}

/** Text Reveal Effect */
.reveal {
  background: var(--backgroundColor);
}

.reveal-text {
  font-weight: 800;
  font-size: clamp(3rem, 10vw, 15rem);
  line-height: clamp(3rem, 10vw, 15rem);
  color: #FFF;
  backdrop-filter: saturate(100%);
}

.spacing {
  height: 200vh;
}

.spacing-small {
  height: 20vh;
}

@media screen and (max-width: 500px) {
  .reveal {
    padding-left: 10px;
  }
}

/** GSAP HOME TITLE  */
#text-wrapper {
  clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 100%);
}

.char {
  transform: translateY(85px);
  transition: transform .05s;
}

/** "Scroll Down" Home Animation*/
#scroll-wrapper {
  position: absolute;
}

.scroll-wrapper-bis {
  left: 50%;
  top: 50%;
  opacity: .5;
}

#scroll-wrapper-inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;;
}

#scroll-down {
  display: block;
  position: relative;
  padding-top: 79px;
  text-align: center;
}

#scroll-down::before {
    -webkit-animation: elasticus 2.9s cubic-bezier(1, 0, 0, 1) infinite;
    /* Safari 4+ */
    
    -moz-animation: elasticus 2.9s cubic-bezier(1, 0, 0, 1) infinite;
    /* Fx 5+ */
    
    -o-animation: elasticus 2.9s cubic-bezier(1, 0, 0, 1) infinite;
    /* Opera 12+ */
    
    animation: elasticus 2.9s cubic-bezier(1, 0, 0, 1) infinite;
    /* IE 10+, Fx 29+ */
    
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -1px;
    width: 1px;
    height: 120px;
    background: white;
    content: ' ';
}
@-webkit-keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
}
@-moz-keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
}
@-o-keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
}
@keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
}

/** Page Transition */
.slide-in {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* background: #16161C; */
  /* background: #222222; */
  background-color: #090f18;
  transform-origin: bottom;
  z-index: 100 !important;
  transition: all .5s ease-out;
}

.slide-out {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* background: #16161C; */
  /* background: #222222; */
  background-color: #090f18;
  transform-origin: top;
  z-index: 100 !important;
  transition: all .25s ease-out;
}

/** BREADCRUMB  */
.disabled {
  pointer-events: none;
}

/** TIMELINE ANIMATION  */

.svg-draw {
  display: inline-block;
  height: 100%;
  z-index: 1000;
  filter: invert(1);
}

.image-wrapper image{
  z-index: -1;
}

/* TODO: Reprendre d'ici avec la logique .timeCard.isActive */

/** INTERSECTED **/
.intersected {
  opacity: 0;
  visibility: hidden;
}

.intersected.isActive {
  opacity: 1;
  visibility: visible;
  transition: all 1s 0.25s ease-in-out;
}

/** TimeLine  */
.timeCard {
  opacity: 0;
  visibility: hidden;
}

.timeCard1.isActive {
  animation: 1.25s ease-in-out swindow-fromleft both;
  -webkit-animation: 1.25s ease-in-out window-fromleft both;
  opacity: 1;
  visibility: visible;
}

.timeCard2.isActive {
  animation: 1.25s ease-in-out window-fromright both;
  -webkit-animation: 1.25s ease-in-out window-fromright both;
  opacity: 1;
  visibility: visible;
}

.timeCard3.isActive {
  animation: 1.25s ease-in-out window-fromleft both;
  -webkit-animation: 1.25s ease-in-out window-fromleft both;
  opacity: 1;
  visibility: visible;
}

.timeCard4.isActive,
.timeCard5.isActive,
.timeCard6.isActive {
  animation: 1.25s ease-in-out slowlyAppears both;
  -webkit-animation: 1.25s ease-in-out slowlyAppears both;
  opacity: .1;
  visibility: visible;
}

.underskin-item {
  opacity: .7;
  font-size: clamp(3rem, 10vh, 10rem);
  z-index: -10;
  padding-left: 4rem;
  bottom: 2rem;
}

@keyframes slowlyAppears {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: .1
  }
}


@keyframes window-fromleft {
  0% {
    clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 0% 0%);
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 0% 0%);
  }
  100% {
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
  }
}


@keyframes window-fromright {
  0% {
      clip-path: polygon(100% 0%, 100% 100%, 100% 100%, 100% 0%);
      -webkit-clip-path: polygon(100% 0%, 100% 100%, 100% 100%, 100% 0%);
  }

  100% {
      clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 0%);
      -webkit-clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 0%);
  }
}

/** MARKETING  */
.marketing {
  background-color: #222222;
}
.marketingBis {
  background-color: #222222;
}

/** CAROUSEL */
.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.embla {
  --slide-spacing: 1rem;
  --slide-size: 70%;
  --slide-height: 60vh;
  padding: 1.6rem;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  position: relative;
}

.embla__slide__img {
  display: block;
  height: var(--slide-height);
  width: 100%;
  object-fit: cover;
}

.embla__slide__number {
  width: 4.6rem;
  height: 4.6rem;
  z-index: 1;
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
  border-radius: 50%;
  background-color: rgba(var(--background-site-rgb-value), 0.85);
  line-height: 4.6rem;
  font-weight: 900;
  text-align: center;
  pointer-events: none;
}

.embla__slide__number > span {
  color: var(--brand-primary);
  background-image: linear-gradient(
    45deg,
    var(--brand-primary),
    var(--brand-secondary)
  );
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 1.6rem;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.embla__slide__content {
  font-size: 1.6rem;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.embla__parallax {
  height: 100%;
  overflow: hidden;
}

.embla__parallax__layer {
  position: relative;
  height: 100%;
  width: 100%;
}

.embla__parallax__img {
  max-width: none;
  width: calc(100% + (var(--slide-spacing) * 2));
  margin-left: calc(var(--slide-spacing) * -1);
}

/* SPECIAL DESKTOP */
@media screen and (min-width:768px) {
  .embla {
    --slide-spacing: 1rem;
    --slide-size: 30%;
    --slide-height: 70vh;
    padding: 1.6rem;
  }
}

/* CAROUSEL PROGRESS BAR CAROUSEL-1 */
.embla__progress {
  background-color:rgb(220 38 38);
  position: absolute;
  height: 0.2rem;
  border-radius: 0.2rem;
  left: 0;
  right: 0;
  bottom: 2.6rem;
  margin-left: auto;
  margin-right: auto;
  pointer-events: none;
  width: 115%;
  max-width: 70%;
  overflow: hidden;
}

.embla__progress__bar {
  background-image: linear-gradient(
    45deg,
    rgb(216, 213, 213),
    rgb(216, 213, 213)
  );
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  right: -10%;
}

/* CAROUSELBIS with BUTTONS */
.embla__button {
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
}

.embla__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  width: 88%;
}

@media screen and (min-width: 768px) {
  .embla__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1.6rem;
    width: 96%;
  }
}

.embla__button {
  z-index: 1;
  color: #f1f5f9;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
}

.embla__button:disabled {
  opacity: 0.3;
}

.embla__button__svg {
  width: 65%;
  height: 65%;
}

.embla__dot {
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
}

.embla__dots {
  z-index: 1;
  bottom: .5rem;
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.embla__dot {
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  align-items: center;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.embla__dot:after {
  background: white;
  border-radius: 0.2rem;
  width: 100%;
  height: 0.2rem;
  content: '';
}

.embla__dot:before,
.embla__dot:after {
  content: "";
  position: absolute;
  top: -1rem;
  bottom: -1rem;
  left: -1rem;
  right: -1rem;
}

.embla__dot--selected:after {
  background: linear-gradient(
    45deg,
    rgb(220 38 38),
    rgb(220 38 38)
  );
}

/** LE CABINET */

.droit-du-travail-container {
  background-color: #000;
  background-color: rgba(34, 34, 34, 1);
  width: 100%;
  height: 100%;
  z-index: 0;
}

.droit-du-travail-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.droit-du-travail-container .headers h2 {
  color: #FFF;
  font-size: 12vw;
  font-weight: 400;
  letter-spacing: -0.025em;
  text-transform: uppercase;
  text-align: center;
  font-family: "PP Neue Montreal";
}

.droit-du-travail-container p {
  color: #FFF;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  font-family: "PP Neue Montreal";
}

.droit-du-travail-container .intro-copy {
  position: fixed;
  min-width: 300px;
  min-height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  mix-blend-mode: hard-light;
}

.intro-copy-text {
  margin: 2rem 0;
  text-transform: uppercase;
}

.intro-copy-text p {
  font-size: 1.5rem;
  opacity: .2;
}

.droit-du-travail-container section {
  margin: 100vh 0 0;
  line-height: 1;
}

.section-previews {
  position: fixed;
  width: 500px;
  height: 700px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section-previews .img {
  width: 100%;
  height: 100%;
  position: absolute;
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  overflow: hidden;
}

.spacer {
  width: 100%;
  height: 200px;
}

.invisible-text {
  visibility: hidden;
}
