@tailwind base;
@tailwind components;
@tailwind utilities;

/* MARGINS DEBUGUER */
/* * {
  box-shadow: 0 0 0 3px red;
} */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html, body {
  width: 100vw;
  min-height: 100vh;
}



button:focus {
  outline: 0
}

/** LOADER  */
.loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: #090f18;
  z-index: 1000;
  opacity: 1;
}

/**HEADER  */
header {
  border-bottom: 1px solid hsla(0,0%,91.4%,.4);
}

/* .header-brand,
.header-subBrand {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} */

.header .lastName .header-brand span{
  color: black;
}

/**HEADROOM  */
.headroom {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: transparent;
}

.headroom--unfixed {
  position: relative;
  transform: translateY(0);
  transition: transform 200ms ease-in-out;
}

.headroom--scrolled {
  transition: transform 200ms ease-in-out;
}

.headroom--unpinned {
  position: fixed;
  transform: translateY(-100%);
}

.headroom--pinned.headroom--scrolled .navlink,
.headroom--pinned.headroom--scrolled .header-brand {
  color: black;
}

.headroom--pinned.headroom--scrolled .navlink:hover {
  color: #4B68AF;
}

.headroom--pinned {
  position: fixed;
  transform: translateY(0%);
}

.active {
  color: rgb(96 137 195)
}

.homeHeader .header-brand,
.homeHeader .navlink {
  color: white;
}

.homeHeader .hamBox span {
  background: #FFF;
}

.headroom.headroom--pinned {
  background-color: #FFF;
  color: black;
}

.headroom--pinned.headroom--scrolled .hamBox span {
  background: black;
}

.headroom--pinned.headroom--scrolled.nav-overlay.mobileActive .hamBox span {
  background: #FFF;
}

/** Headroom Header */
.headroom-unpinned {
  position: fixed;
  background-color: white;
}

/** Liens NavBar */
a,
button,
li {
  position: relative;
}

a::after,
button::after {
  content: "";
  position: absolute;
  top: -1rem;
  bottom: -1rem;
  left: -1rem;
  right: -1rem;
}

/** Burger Button */
.menu-toggle {
  cursor: pointer;
}

.hamBox {
  position: relative;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  transition: 0.3s ease;
  padding: 1em;
}

.lineTop,
.lineBottom {
  margin: 0 auto;
  position: absolute;
  display: block;
  width: 24px;
  height: 2px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 1);
  left: 0;
  right: 0;
  transform: rotate(0deg);
  transition: all 0.4s;
}

.lineTop {
  top: 1.7rem;
}

.lineBottom {
  bottom: 1.7rem;
}

.lineTop.spin {
  top: 2rem;
  transform: rotate(-45deg);
  background: #FFF;
}

.lineBottom.spin {
  bottom: 1.85em;
  transform: rotate(45deg);
  background: #FFF;
}

/** PROGRESS BAR  */
.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: #fe0222;
  transform-origin: 0%;
  z-index: 1000;
}

/** OVERLAY MOBILE */
.nav-overlay {
  position: fixed;
  background: rgba(34, 34, 34, 1);
  z-index: -2;
  opacity: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding: 4em;
  transition: all .8s cubic-bezier(0.16, 1, 0.3, 1);
}

.nav-overlay.mobileActive {
  opacity: 1;
  display: flex;
  justify-content: center;
}

nav.mobileActive .lastName .header-brand {
  color: white;
}

nav.mobileActive .menu-toggle .hamBox span {
  background: white;
}

/** Text Reveal Effect */
.reveal {
  background: var(--backgroundColor);
}

.reveal-text {
  font-weight: 800;
  font-size: clamp(3rem, 10vw, 15rem);
  line-height: clamp(3rem, 10vw, 15rem);
  color: #FFF;
  backdrop-filter: saturate(100%);
}

.spacing {
  height: 200vh;
}

.spacing-small {
  height: 20vh;
}

@media screen and (max-width: 500px) {
  .reveal {
    padding-left: 10px;
  }
}

/** GSAP HOME TITLE  */
#text-wrapper {
  clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 100%);
}

.char {
  transform: translateY(85px);
  transition: transform .05s;
}

/** "Scroll Down" Home Animation*/
#scroll-wrapper {
  position: absolute;
}

#scroll-wrapper-inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;;
}

#scroll-down {
  display: block;
  position: relative;
  padding-top: 79px;
  text-align: center;
}

#scroll-down::before {
    -webkit-animation: elasticus 2.9s cubic-bezier(1, 0, 0, 1) infinite;
    /* Safari 4+ */
    
    -moz-animation: elasticus 2.9s cubic-bezier(1, 0, 0, 1) infinite;
    /* Fx 5+ */
    
    -o-animation: elasticus 2.9s cubic-bezier(1, 0, 0, 1) infinite;
    /* Opera 12+ */
    
    animation: elasticus 2.9s cubic-bezier(1, 0, 0, 1) infinite;
    /* IE 10+, Fx 29+ */
    
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -1px;
    width: 1px;
    height: 120px;
    background: white;
    content: ' ';
}
@-webkit-keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
}
@-moz-keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
}
@-o-keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
}
@keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
}

/** Page Transition */
.slide-in {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* background: #16161C; */
  /* background: #222222; */
  background-color: #090f18;
  transform-origin: bottom;
  z-index: 100 !important;
  transition: all .5s ease-out;
}

.slide-out {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* background: #16161C; */
  /* background: #222222; */
  background-color: #090f18;
  transform-origin: top;
  z-index: 100 !important;
  transition: all .1s ease-out;

}

/** BREADCRUMB  */
.disabled {
  pointer-events: none;
}

/** TIMELINE ANIMATION  */

.svg-draw {
  display: inline-block;
  height: 100%;
  z-index: 1000;
  filter: invert(1);
}

.image-wrapper image{
  z-index: -1;
}

/* TODO: Reprendre d'ici avec la logique .timeCard.isActive */

/** TimeLine  */
.timeCard {
  opacity: 0;
  visibility: hidden;
}

.timeCard1.isActive {
  animation: 1.25s ease-in-out .4s swindow-fromleft both;
  -webkit-animation: 1.25s ease-in-out .4s window-fromleft both;
  opacity: 1;
  visibility: visible;
}

.timeCard2.isActive {
  animation: 1.25s ease-in-out .4s window-fromright both;
  -webkit-animation: 1.25s ease-in-out .4s window-fromright both;
  opacity: 1;
  visibility: visible;
}

.timeCard3.isActive {
  animation: 1.25s ease-in-out .4s window-fromleft both;
  -webkit-animation: 1.25s ease-in-out .4s window-fromleft both;
  opacity: 1;
  visibility: visible;
}

.underskin-item {
  opacity: .7;
  font-size: clamp(3rem, 10vh, 10rem);
  z-index: -10;
  padding-left: 4rem;
  bottom: 2rem;
}


@keyframes window-fromleft {
  0% {
    clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 0% 0%);
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 0% 0%);
  }
  100% {
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
  }
}


@keyframes window-fromright {
  0% {
      clip-path: polygon(100% 0%, 100% 100%, 100% 100%, 100% 0%);
      -webkit-clip-path: polygon(100% 0%, 100% 100%, 100% 100%, 100% 0%);
  }

  100% {
      clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 0%);
      -webkit-clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 0%);
  }
}
